n8n/workflows/cma-fub-sync-pipeline.json
{
  "name": "WILLOW v32.0 - CMA-FUB Synchronization Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cma-deployed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-cma-trigger",
      "name": "CMA Deployment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// WILLOW v32.0 - Extract CMA deployment data\nconst payload = $input.first().json;\n\n// Extract property information from GitHub webhook or direct payload\nconst propertyAddress = payload.property_address || payload.commits?.[0]?.message?.match(/Property: (.+)/)?.[1] || \"Unknown Property\";\nconst clientName = payload.client_name || payload.commits?.[0]?.message?.match(/Client: (.+)/)?.[1] || \"Unknown Client\";\nconst cmaUrl = payload.cma_url || `https://hvscma.com/${payload.commits?.[0]?.added?.[0]?.replace('.html', '')}` || \"\";\nconst deploymentDate = payload.deployment_date || new Date().toISOString().split('T')[0];\nconst agentId = payload.agent_id || 1; // Default to Glenn Fitzgerald\n\n// Hudson Valley agent assignment logic\nlet assignedAgent = 1; // Default Glenn Fitzgerald\nif (propertyAddress.toLowerCase().includes('beacon') || propertyAddress.toLowerCase().includes('fishkill')) {\n    assignedAgent = 6; // Justin Phillips - Dutchess County\n} else if (propertyAddress.toLowerCase().includes('cold spring') || propertyAddress.toLowerCase().includes('garrison')) {\n    assignedAgent = 2; // Heather Martin - Putnam County\n} else if (propertyAddress.toLowerCase().includes('poughkeepsie') || propertyAddress.toLowerCase().includes('hyde park')) {\n    assignedAgent = 6; // Justin Phillips\n}\n\n// Create standardized output for FUB integration\nreturn {\n  json: {\n    propertyAddress,\n    clientName,\n    cmaUrl,\n    deploymentDate,\n    agentId: assignedAgent,\n    taskTitle: `CMA Delivered - ${propertyAddress}`,\n    taskDescription: `Professional CMA for ${propertyAddress} has been deployed to client portal. Schedule follow-up call with ${clientName} within 48 hours to discuss market insights and next steps.`,\n    activityNote: `\ud83c\udfe1 WILLOW v32.0 - CMA DEPLOYMENT CONFIRMATION\n\nProperty: ${propertyAddress}\nClient: ${clientName}\nCMA URL: ${cmaUrl}\nDeployment Date: ${deploymentDate}\nAssigned Agent: ${assignedAgent === 1 ? 'Glenn Fitzgerald' : assignedAgent === 2 ? 'Heather Martin' : 'Justin Phillips'}\n\nAUTOMATION STATUS:\n\u2705 CMA successfully deployed to hvscma.com\n\u2705 Client portal access activated\n\u2705 Follow-up task automatically scheduled\n\u2705 24/7 FUB Butler System operational\n\nNEXT STEPS:\n\ud83c\udfaf Schedule follow-up call within 48 hours\n\ud83c\udfaf Discuss market analysis and pricing strategy\n\ud83c\udfaf Address client questions about the CMA\n\ud83c\udfaf Explore buyer/seller objectives and timeline\n\nGenerated by WILLOW v32.0 - Hudson Valley SOLD Automation System`,\n    dueDate: new Date(Date.now() + 2 * 24 * 60 * 60 * 1000).toISOString().split('T')[0], // 2 days from now\n    personId: payload.person_id || 1903 // Default test person\n  }\n};"
      },
      "id": "process-cma-data",
      "name": "Process CMA Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "nodeCredentialType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://api.followupboss.com/v1/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.taskTitle }}\",\n  \"personId\": {{ $json.personId }},\n  \"dueDate\": \"{{ $json.dueDate }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "create-fub-task",
      "name": "Create FUB Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        240
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "fub-api-credentials",
          "name": "FUB API Credentials"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "nodeCredentialType": "httpBasicAuth",
        "requestMethod": "POST",
        "url": "https://api.followupboss.com/v1/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"personId\": {{ $json.personId }},\n  \"subject\": \"CMA Deployment Confirmation - {{ $json.propertyAddress }}\",\n  \"body\": \"{{ $json.activityNote }}\",\n  \"type\": \"Note\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "create-fub-activity",
      "name": "Create FUB Activity Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        360
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "fub-api-credentials",
          "name": "FUB API Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// WILLOW v32.0 - Success validation and logging\nconst taskResult = $('Create FUB Task').first().json;\nconst activityResult = $('Create FUB Activity Note').first().json;\n\n// Validate results\nif (!taskResult.id || !activityResult.id) {\n    return {\n        json: {\n            status: 'error',\n            message: 'Failed to create FUB records',\n            taskResult,\n            activityResult\n        }\n    };\n}\n\n// Success case - log completion\nconsole.log('CMA-FUB Sync Completed:', {\n    taskId: taskResult.id,\n    activityId: activityResult.id,\n    property: $('Process CMA Data').first().json.propertyAddress,\n    client: $('Process CMA Data').first().json.clientName,\n    timestamp: new Date().toISOString()\n});\n\nreturn {\n    json: {\n        status: 'success',\n        taskId: taskResult.id,\n        activityId: activityResult.id,\n        property: $('Process CMA Data').first().json.propertyAddress,\n        client: $('Process CMA Data').first().json.clientName,\n        cmaUrl: $('Process CMA Data').first().json.cmaUrl,\n        completedAt: new Date().toISOString(),\n        message: 'WILLOW v32.0 - CMA-FUB synchronization completed successfully'\n    }\n};"
      },
      "id": "success-handler",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"WILLOW v32.0 - CMA deployment processed successfully\",\n  \"taskId\": \"{{ $('Create FUB Task').item.json.id }}\",\n  \"activityId\": \"{{ $('Create FUB Activity Note').item.json.id }}\",\n  \"property\": \"{{ $('Process CMA Data').item.json.propertyAddress }}\",\n  \"client\": \"{{ $('Process CMA Data').item.json.clientName }}\",\n  \"cmaUrl\": \"{{ $('Process CMA Data').item.json.cmaUrl }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"system\": \"WILLOW v32.0 - 24/7 FUB Butler System\"\n}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ]
    }
  ],
  "connections": {
    "CMA Deployment Webhook": {
      "main": [
        [
          {
            "node": "Process CMA Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process CMA Data": {
      "main": [
        [
          {
            "node": "Create FUB Task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create FUB Activity Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create FUB Task": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create FUB Activity Note": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Results": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-21T15:54:36.318801",
      "updatedAt": "2025-07-21T15:54:36.318818",
      "id": "willow-automation",
      "name": "WILLOW v32.0 Automation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-21T15:54:36.318821",
  "versionId": "willow-v32-cma-fub-sync-production"
}